$grey: #666666;
$black: rgb(0,0,0);
@white: rgb(255,255,255);
$pink: rgba(255, 86, 68, 1); //#FF5644
$transPink: rgba(255, 86, 68, 0.8);
$blue: rgba(85, 213, 255, 1); //#55D5FF
$blueGreen: #0AABBA;
$greyBlue: #444455;
$veryLightGrey: #ccccdd;

$darkGrey: rgba(70, 80, 80, 1);

$transBlack: rgba( 255,255, 255, 0.25);
