@import 'style/_colors.scss';

// FONT FACE
@mixin font-face ($fontname, $fontfilename, $fontweight) {
    font-family: $fontname;
    src: url('/public/fonts/' + $fontfilename + '.eot');
    src: url('/public/fonts/' + $fontfilename + '.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/' + $fontfilename + '.woff') format('woff'),
         url('/public/fonts/' + $fontfilename + '.ttf') format('truetype'),
         url('/public/fonts/' + $fontfilename + '.svg#fontname') format('svg');
    font-weight: $fontweight;
    font-style: normal;
}

@font-face {
    @include font-face("Inconsolata", inconsolata-webfont, 400);
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    @include font-face("DThin", dinthin-webfont, 400);
    -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 62.5%; // 1em = 10px
  font-family: "Inconsolata";
}

#app {
  &__container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.day {
  &__container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .inprogress {
      position: absolute;
      top: calc(50% - 3rem);
      left: 0;
      padding: 0 1rem;
      box-sizing: border-box;
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 1.5rem;
      color: $blue;
      font-weight: normal;
      font-family: "Inconsolata";
    }
  }
}

/**
 * DEFAULT INCLUDES
 */
@import 'style/_sectionContainer';
