<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <script src="/public/js/dat.gui.min.js"></script>
  <link rel="stylesheet" href="/{{JS_FOLDER}}/stylesheet.css" />
</head>
<body>
  <div id="app__container"></div>
  {{#if notLocal}}
    <script src="/{{JS_FOLDER}}/vendor.js"></script>
  {{/if}}
  <script src="/{{JS_FOLDER}}/app.js"></script>
</body>
</html>
