@import 'style/_colors.scss';
@import 'style/_common.scss';


.navi {

  &__container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $naviHeight;
    border: 0;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0px 6px 11px -4px rgba(74,74,74,0.26);

  }

  &__logo {
    display: block;
    position: absolute;
    left: 2 * $naviPadding;
    top: $naviPadding;
    width: 1.5rem;
    height: $naviHeight - 2 * $naviPadding;
    background-image: url('/public/svg/logo.svg');
    image-rendering: pixelated;
  }

  &__daycontainer {
    display: block;
    position: relative;
    height: $naviHeight - 2 * $naviPadding;
    margin-top: 0.5rem;
    margin-left: 3rem;
    width: auto;
    font-family: "Inconsolata";
  }

  &__title {
    color: $pink;
    font-size: $naviFontSize;
  }

  &__day {
    margin: 0 0.4rem;
    display: inline-block;
    position: relative;
    font-size: $naviFontSize;
    text-decoration: none;
    color: black;

    &:visited{
      color: black;
    }

    &:hover {
      color: $pink;
    }

    &.current {
      cursor: default;
      text-transform: capitalize;
      color: black;

      &:before {
        content: ' - ';
      }
    }

    &.back {
      display: block;
      position: absolute;
      top: 0px;
      right: 20px;
      cursor: pointer;
      text-transform: uppercase;
      color: $blue;

      &:hover {
        color: black;
        text-decoration: underline;
      }

    }
  }
}
